@darkPink: #b93880;
@lightPink: #ffa7ba;

/************************Logo-Start**************************/
#header{
  .container .row{
    height: 135px;
    //background-color: red;
    .header-left{
      .logo-right{
        .slogan{
          color: @darkPink;
          font-weight: bolder;
          font-size: 16px;
        }
      }
    }
    .header-right{
      .left-QR, .right-QR{
        width: 120px;
        height: 140px;
        text-align: center;
        img{
          height: 90px;
        }
        p{
          //margin-top: 5px;
          color: @darkPink;
          font-weight: bolder;
          font-size: 15px;
        }
      }
    }
  }
}
/*************************Logo-End**************************/

/*****************************nav-start*****************************/
.navbar{
  button{
    color: #000;
  }
  .navbar-brand{
    margin: 0 auto;
    img{
      //margin-right: 30px;
      //opacity: 0.3;
      }
  }
  .navbar-toggler, .navbar-brand{
    //margin-top: -30px;
  }
}

.navbar .navbar-nav{
  .nav-item{
    letter-spacing: 1px;
    .nav-link{
      //z-index: 99;
      //background-color: red;
      text-align: center;
      height: 50px;
      line-height: 50px;
      background-color: rgba(180, 180, 180, .4);
      border-radius: 10px;
      font-weight: bolder;
      color: @darkPink;
      &:hover{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .active .nav-link{
    background-color: rgba(255, 167, 186, .6);
  }
}

/******************************nav-end******************************/



/************************Footer-Start**************************/
#footer{
  .container{
    height: 210px;
    .logo{
      //background-color: red;
      background: url("./../images/logo.png") no-repeat center center;
      -webkit-background-size: 160px 160px;
      background-size: 160px 160px;
      opacity: 0.5;
      z-index: 1;
    }

    .footer-left{
      text-align: center;
      //background-color: red;
      //box-shadow: 1px 1px 4px rgba(185, 56, 128, .2);
      //width: 1000px;
      p{
        font-size: 16px;
        font-weight: bold;
        color: @darkPink;
        padding-top: 5px;
      }
    }
    .footer-right{
      //background-color: green;
      .left-QR, .right-QR{
        width: 150px;
        height: 180px;
        text-align: center;
        img{
          height: 130px;
        }
        p{
          color: @darkPink;
          font-weight: bolder;
          font-size: 18px;
        }
      }
    }
  }
}
/*************************Footer-End**************************/
